.container{
    background: black;
}
body{
    background: rgb(38, 80, 134);
    overflow: visible;
}
h1{
    color: white;
}
.rect{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 88%;
    border-radius: 20px;
    padding: 3px;
    background-color: rgb(84, 86, 148);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 24px;
    overflow: hidden;
}
.map-rect-placeholder{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 88%;
    border-radius: 20px;
    padding: 3px;
    background-color: rgb(0, 255, 42);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    max-width: 80%;
    margin: 20px auto;
    padding:56px;
    border-radius: 6px;
}
.map-text-placeholder{
    color: black;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: -200px;
    left: 80px;
}
.font1{
    color: white;
    font-size: 26px;
    font-style: bold;
    font-family: "Poppins";

    text-align: center;
    margin: 0px 0;
}
.font2{
    color: white;
    font-size: 14px;
    font-family: "Poppins";
    margin: 0px 0px;
}
.font3{
    color: white;
    font-size: 14px;
    font-family: "Poppins";
    margin: 20px 0;
}
.font4{
    margin-top: 12px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: "Poppins";
    margin: 20px 0;
}
.font5{
    color: white;
    font-size: 16px;
    font-family: "Poppins";
    margin: 20px 0;
}
.font6{
    color: black;
    font-size: 16px;
    font-family: "Poppins";
}
.font7{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Poppins";
}
.font8{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Poppins";
    position: relative;
    bottom: 0;
}
.check-button{
    background: rgb(35, 31, 255);
    color: white;

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 40px;
    
    border-radius: 999px;

    border-style: hidden;
}
.check-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    background: rgb(121, 118, 255);
}
.new-suggestion-button{
    background: rgb(35, 31, 255);
    color: white;

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 140px;
    left: 10px;
    right: 25px;
    
    border-radius: 999px;

    border-style: hidden;
}
.new-suggestion-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    background: rgb(121, 118, 255);
}
.look-suggestions-button{
    background: rgb(35, 31, 255);
    color: white;

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 80px;
    left: 10px;
    right: 25px;
    
    border-radius: 999px;

    border-style: hidden;
}
.look-suggestions-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    background: rgb(121, 118, 255);
}
.send-suggestion-button{
    background: rgb(35, 31, 255);
    color: white;

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 80px;
    left: 10px;
    right: 25px;
    
    border-radius: 999px;

    border-style: hidden;
}
.send-suggestion-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    background: rgb(121, 118, 255);
}
.send-suggestion-button:disabled{
    background: rgb(255, 0, 0);
    color: rgb(80, 80, 80);
    cursor: not-allowed;
}
.send-suggestion-button:enabled{
    background: rgb(0, 255, 170);
    color: white;
}
.image0{
    width: 35%;
    height: auto;
    display: block;
    border-radius: 16px;

    margin: 20px auto;

    align-content: center;
}
.instagram-icon{
    width: 60;
    height: 60;

    position: absolute;
    bottom: 20;
    left: 20;
}
.map-icon{
    width: 60;
    height: 60;

    position: absolute;
    bottom: 20;
    left: 100;
}
.suggestion-icon{
    width: 60;
    height: 60;

    position: absolute;
    bottom: 27;
    left: 180;
}
.scroll-container{
    max-height: 200px;
    max-width: 400px;
    width: auto;
    height: auto;
    position: relative;
    left: 10px;
    right: 15px;
    margin-right: 10;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 12px;
    background-color: #f0f0f0;
}
.bairro-selector{
    color: white;
    font-family: "Poppins";
    font-size: 14px;
}
.type-selector{
    color: white;
    font-family: "Poppins";
    font-size: 14px;
}
.suggestion-text{
    color: white;
    font-family: "Poppins";
    font-size: 14px;
    position: relative;
    top: 15;
}
.suggestion-input{
    color: black;
    font-family: Poppins;
    font-size: 14px;
    height: 200px;
    width: 350px;
    position: flex;
    margin-top: 20;
}
.back-button{
    background: rgb(35, 31, 255);
    color: white;

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 25px;
    
    border-radius: 999px;

    border-style: hidden;
}
.back-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    background: rgb(121, 118, 255);
}
