:root{
    --background-color: rgba(255, 0, 0);
    --base-color: rgba(2250, 0, 0);
    --shadow-color: rgba(0, 0, 0);
    --font-title-color: rgba(255, 255, 255);
    --font-normal-color: rgba(255, 255, 255);
    --font-reversed-color: rgba(0, 0, 0);
    --button-base-color: rgba(100, 0, 0);
    --button-hover-color: rgba(150, 0, 0);
    --placeholder-color: rgba(0, 255, 0);
    --scroll-container-base-color: rgba(255, 255, 255);
    --scroll-container-border-color: rgba(255, 255, 255);
}
body{
    background: var(--background-color);
    overflow: visible;
}
.rect{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 88%;
    border-radius: 20px;
    padding: 3px;
    background-color: var(--base-color);
    box-shadow: 0 0 25px var(--shadow-color);
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 24px;
    overflow: hidden;
}
.map-rect-placeholder{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 88%;
    border-radius: 20px;
    padding: 3px;
    background-color: var(--placeholder-color);
    box-shadow: 0 0 25px var(--shadow-color);
    max-width: 80%;
    margin: 20px auto;
    padding:56px;
    border-radius: 6px;
}
.map-text-placeholder{
    color: var(--font-reversed-color);
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: -200px;
    left: 80px;
}
.font1{
    color: var(--font-title-color);
    font-size: 26px;
    font-style: bold;
    font-family: "Poppins";

    text-align: center;
    margin: 0px 0;
}
.font2{
    color: var(--font-normal-color);
    font-size: 14px;
    font-family: "Poppins";
    margin: 0px 0px;
}
.font3{
    color: var(--font-normal-color);
    font-size: 14px;
    font-family: "Poppins";
    margin: 20px 0;
}
.font4{
    margin-top: 12px;
    color: var(--font-normal-color);
    font-size: 14px;
    font-weight: bold;
    font-family: "Poppins";
    margin: 20px 0;
}
.font5{
    color: var(--font-normal-color);
    font-size: 16px;
    font-family: "Poppins";
    margin: 20px 0;
}
.font6{
    color: var(--font-reversed-color);
    font-size: 16px;
    font-family: "Poppins";
}
.font7{
    color: var(--font-normal-color);
    font-size: 16px;
    font-family: "Poppins";
}
.font8{
    color: var(--font-normal-color);
    font-size: 16px;
    font-family: "Poppins";
    position: relative;
    bottom: 0;
}
.check-button{
    background: var(--button-base-color);
    color: var(--font-normal-color);

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 40px;
    
    border-radius: 999px;

    border-style: hidden;
}
.check-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    background: var(--button-hover-color);
}
.new-suggestion-button{
    background: var(--button-base-color);
    color: var(--font-normal-color);

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 140px;
    left: 10px;
    right: 25px;
    
    border-radius: 999px;

    border-style: hidden;
}
.new-suggestion-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px var(--shadow-color);
    background: var(--button-hover-color);
}
.look-suggestions-button{
    background: var(--button-base-color);
    color: var(--font-normal-color);

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 80px;
    left: 10px;
    right: 25px;
    
    border-radius: 999px;

    border-style: hidden;
}
.look-suggestions-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px var(--shadow-color);
    background: var(--button-hover-color);
}
.send-suggestion-button{
    background: var(--button-base-color);
    color: var(--font-normal-color);

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 80px;
    left: 10px;
    right: 25px;
    
    border-radius: 999px;

    border-style: hidden;
}
.send-suggestion-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px var(--shadow-color);
    background: var(--button-hover-color);
}
.send-suggestion-button:disabled{
    background: var(--button-disabled-color);
    color: var(--disabled-font-color);
    cursor: not-allowed;
}
.image0{
    width: 35%;
    height: auto;
    display: block;
    border-radius: 16px;

    margin: 20px auto;

    align-content: center;
}
.instagram-icon{
    width: 60;
    height: 60;

    position: absolute;
    bottom: 20;
    left: 20;
}
.map-icon{
    width: 60;
    height: 60;

    position: absolute;
    bottom: 20;
    left: 100;
}
.suggestion-icon{
    width: 60;
    height: 60;

    position: absolute;
    bottom: 27;
    left: 180;
}
.scroll-container{
    max-height: 200px;
    max-width: 400px;
    width: auto;
    height: auto;
    position: relative;
    left: 10px;
    right: 15px;
    margin-right: 10;
    overflow-y: auto;
    border: 1px solid var(--scroll-container-border-color);
    padding: 10px;
    border-radius: 12px;
    background-color: var(--scroll-container-base-color);
}
.bairro-selector{
    color: var(--font-normal-color);
    font-family: "Poppins";
    font-size: 14px;
}
.type-selector{
    color: var(--font-normal-color);
    font-family: "Poppins";
    font-size: 14px;
}
.suggestion-text{
    color: var(--font-normal-color);
    font-family: "Poppins";
    font-size: 14px;
    position: relative;
    top: 15;
}
.suggestion-input{
    color: var(--font-reversed-color);
    font-family: "Poppins";
    font-size: 14px;
    height: 200px;
    width: 350px;
    position: flex;
    margin-top: 20;
}
.back-button{
    background: var(--button-base-color);
    color: var(--font-normal-color);

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 25px;
    
    border-radius: 999px;

    border-style: hidden;
}
.back-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px var(--shadow-color);
    background: var(--button-hover-color);
}
