p{
    line-height: 1.6px;
    font-size: 22px;
    color: white;
    font-family: "Poppins"
}
.container{
    background: black;
}
body{
    background: rgb(38, 80, 134);
    overflow: visible;
}
h1{
    color: white;
}
.rect{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 88%;
    border-radius: 20px;
    padding: 3px;
    background-color: rgb(84, 86, 148);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 24px;
    overflow: hidden;
}
.text1{
    color: white;
    font-size: 26px;
    font-style: bold;
    font-family: "Poppins";
    padding-left: 15px;

    text-align: center;
}
.text2{
    color: white;
    font-size: 14px;
    font-family: "Poppins";
    padding-left: 15px;
}
.text3{
    color: white;
    font-size: 14px;
    font-family: "Poppins";
    padding-left: 35px;
}
.text4{
    margin-top: 12px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: "Poppins";
    padding-left: 15px;
}
.text5{
    color: white;
    font-size: 16px;
    font-family: "Poppins";
    padding-left: 35px;
}
.text6{
    color: black;
    font-size: 16px;
    font-family: "Poppins";
    padding-left: 10px;
}
.text7{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Poppins";
    padding-left: 10px;
}
.check-button{
    background: rgb(35, 31, 255);
    color: white;

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 40px;
    
    border-radius: 999px;
}
.check-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    background: rgb(121, 118, 255);
}
.suggestion-button{
    background: rgb(35, 31, 255);
    color: white;

    padding: 0 0;
    align-content: center;

    text-decoration: none;
    text-align: center;

    width: auto;
    height: 42px;

    margin-top: 20px;
    margin-left: 20px;

    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";

    cursor: pointer;

    transition: 0.25s;

    position: absolute;
    bottom: 140px;
    left: 10px;
    right: 25px;
    
    border-radius: 999px;
}
.suggestion-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    background: rgb(121, 118, 255);
}
.image0{
    width: 35%;
    height: auto;
    display: block;
    border-radius: 16px;

    margin: 20px auto;

    align-content: center;
}
.instagram-icon{
    width: 60;
    height: 60;

    position: absolute;
    bottom: 20;
    left: 20;
}
.map-icon{
    width: 60;
    height: 60;

    position: absolute;
    bottom: 20;
    left: 100;
}
.suggestion-icon{
    width: 60;
    height: 60;

    position: absolute;
    bottom: 27;
    left: 180;
}
.scroll-container{
    max-height: 200px;
    max-width: 400px;
    width: auto;
    height: auto;
    position: absolute;
    left: 30;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 12px;
    background-color: #f0f0f0;
}